@import "variables.scss";

body {
    background-color: lightgray;
}

#mapid{
    height: 45vw;
}

@media screen and (max-width: 760px){
    #mapid{
        height: 80vh;
    }

}
@import "~bootstrap/scss/bootstrap";
